Repository Team-Snacks/Snacks, pull requests merged in 2022-11, with the labels that each got.

#44 feat: spring boot 파일 다운로드 및 테스트 성공
  backend/.DS_Store
  backend/demo/.gitignore
  backend/demo/build.gradle
  backend/demo/gradle/wrapper/gradle-wrapper.jar
  backend/demo/gradle/wrapper/gradle-wrapper.properties
  backend/demo/gradlew
  backend/demo/gradlew.bat
  backend/demo/settings.gradle
  backend/demo/src/main/java/com/snacks/demo/DemoApplication.java
  backend/demo/src/test/java/com/snacks/demo/DemoApplicationTests.java
Labels: 기능 추가

#53 feat: 공통 컴포넌트 만들기
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/components/common/common.stories.tsx
  frontend/src/components/common/hello.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/common/logo.tsx
  frontend/src/hello.tsx
  frontend/src/main.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: 테스트, 프론트엔드

#55 feat: 메인화면,스토어구현
  frontend/src/App.tsx
  frontend/src/atoms.tsx
  frontend/src/common.d.ts
  frontend/src/components/users/Navigation.tsx
  frontend/src/components/users/grid.tsx
  frontend/src/components/users/store.tsx
  frontend/src/components/users/users.tsx
  frontend/src/components/widgets/Weather.tsx
  frontend/src/components/widgets/Widget.tsx
Labels: 기능 추가, 프론트엔드

#56 fix: ladle에서 `CredentialInput`이 튕기는 문제 해결
  frontend/src/components/login/CredentialInput.tsx
  frontend/src/components/login/Login.stories.tsx
  frontend/src/components/login/Register.stories.tsx
  frontend/src/components/login/index.ts
Labels: 테스트, 프론트엔드

#57 fix: ladle에서 절대경로를 인식 못하는 문제 해결
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/Atoms.tsx
  frontend/src/components/users/Grid.tsx
  frontend/src/components/users/Store.tsx
  frontend/src/components/users/Users.tsx
  frontend/src/components/users/index.ts
  frontend/src/components/users/navi.stories.tsx
  frontend/vite.config.ts
Labels: 테스트, 프론트엔드

#60 feat: 간단한 첫페이지
  frontend/src/assets/example.png
  frontend/src/assets/snacks-hands.png
  frontend/src/components/front/FrontPage.stories.tsx
  frontend/src/components/login/Login.stories.tsx
  frontend/src/components/login/Register.stories.tsx
Labels: 테스트, 프론트엔드

#59 feat: 회원가입 API 구현
  backend/demo/build.gradle
  backend/demo/src/main/java/com/snacks/demo/config/SecurityConfig.java
  backend/demo/src/main/java/com/snacks/demo/controller/AuthController.java
  backend/demo/src/main/java/com/snacks/demo/dto/UserDto.java
  backend/demo/src/main/java/com/snacks/demo/entity/User.java
  backend/demo/src/main/java/com/snacks/demo/repository/AuthRepository.java
  backend/demo/src/main/java/com/snacks/demo/response/CommonResponse.java
  backend/demo/src/main/java/com/snacks/demo/response/ListResponse.java
  backend/demo/src/main/java/com/snacks/demo/response/ResponseService.java
  backend/demo/src/main/java/com/snacks/demo/response/SingleResponse.java
  backend/demo/src/main/java/com/snacks/demo/service/AuthService.java
  backend/demo/src/test/java/com/snacks/demo/Auth/SignUpTest.java
Labels: 기능 추가, 테스트, 백엔드

#58 test: 메인화면 및 위젯 스토리 추가
  frontend/src/Dummy.tsx
  frontend/src/components/users/Users.tsx
  frontend/src/components/users/navi.stories.tsx
  frontend/src/components/users/users.stories.tsx
  frontend/src/components/widgets/index.ts
  frontend/src/components/widgets/widgets.stories.tsx
Labels: 테스트, 프론트엔드

#61 chore: CODEOWNERS 추가
  .github/CODEOWNERS
Labels: CI/CD

#63 fix : status code 반영이 안되는 문제 해결
  backend/demo/src/main/java/com/snacks/demo/controller/AuthController.java
  backend/demo/src/main/java/com/snacks/demo/dto/UserDto.java
  backend/demo/src/main/java/com/snacks/demo/response/CommonResponse.java
  backend/demo/src/main/java/com/snacks/demo/response/ResponseMessage.java
  backend/demo/src/main/java/com/snacks/demo/response/ResponseService.java
  backend/demo/src/main/java/com/snacks/demo/service/AuthService.java
  backend/demo/src/test/java/com/snacks/demo/Auth/SignUpTest.java
Labels: 버그, 테스트, 백엔드

#66 feat: 빈공간,swap이동구현
  frontend/src/Dummy.tsx
  frontend/src/common.d.ts
  frontend/src/components/users/Grid.tsx
  frontend/src/components/users/Users.tsx
  frontend/src/components/users/users.stories.tsx
  frontend/src/components/widgets/Weather.tsx
  frontend/src/components/widgets/Widget.tsx
  frontend/src/components/widgets/widgets.stories.tsx
Labels: 기능 추가, 테스트, 프론트엔드

#67 build: vitest 추가
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: 프론트엔드

#68 fix: 인자명 widgets로 변경
  frontend/src/components/users/users.stories.tsx
Labels: 테스트, 프론트엔드

#70 refactor: 그리드 정리 및 도우미 함수 추가
  frontend/src/common.d.ts
  frontend/src/components/users/Grid.test.tsx
  frontend/src/components/users/Grid.tsx
  frontend/src/components/users/GridTools.ts
  frontend/src/utils.test.ts
  frontend/src/utils.ts
Labels: 테스트, 프론트엔드

#71 refactor: 그리드 테스트 정리
  frontend/src/components/users/Grid.test.tsx
  frontend/src/components/users/Grid.tsx
  frontend/src/components/users/GridTools.ts
  frontend/src/components/users/Users.tsx
  frontend/src/components/users/users.stories.tsx
  frontend/src/components/widgets/widgets.stories.tsx
  frontend/src/dummy.ts
  frontend/src/utils.test.ts
  frontend/src/utils.ts
Labels: 테스트, 프론트엔드

#76 test: vitest 템플릿 리터럴 문법으로 정리
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/utils.test.ts
Labels: 테스트, 프론트엔드

#78 feat: Vec2, Pos, Size 클래스 추가
  frontend/src/vec2.test.ts
  frontend/src/vec2.ts
Labels: 테스트, 프론트엔드

#80 ci: 프론트엔드 테스트 CI 추가
  .github/workflows/test-frontend.yaml
Labels: CI/CD

#82 ci: 프론트엔드 테스트 `cwd`를 `./frontend`로 변경
  .github/workflows/test-frontend.yaml
Labels: CI/CD
